.LoginCard {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%
  }
  .EmailContrainer{
    display: flex;
    flex-direction: column;
  }
  
  .EmailContrainer> * {
    width: 100%;
  }

