.center {
  margin: 0 auto; 
  width:250px;
}

.container > * {
  width: 200px;
  display: flex;
  flex-direction: column;
}


.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}
