table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  

  .center {
    text-align: center;
  }

  .mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}