<mat-card class="LoginCard">
    <h1>Sign In</h1>
    <mat-card-content>
      <div class="EmailContrainer">

        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
      </div>


    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Sign in</button>
        <button mat-raised-button color="primary">Forgot password</button>
    </mat-card-actions>
  </mat-card>
<br>
<br>
<br>
<br>



  <h2>
      Forklaring, link til github, hvem er jeg måske et billede?
      <ul>
         <li> <a href="https://github.com/" target="_blank">github link her fx</a></li>
         <li>Billede af appen:</li>
       
      </ul>
      
  </h2>

